body {
  font-family: 'Titillium Web', sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  font-size: 16px;

  display: inline-block;

  list-style: none;
}
ul li,
.big-button,
.little-title,
.section-title,
.section-title-desc,
.portfolio .title-desc,
.testimonials-name,
.get-in-touch--button {
  text-transform: uppercase;
}
.header {
  padding: 60px 0 145px;

  background-color: #864f9c;
}
.header .logo {
  display: inline-block;

  margin: 0 0 0 25px;
}
.header .main-menu {
  float: right;
}
.header .main-menu ul {
  margin: 0;
  padding: 0 10px 0 0;
}
.header .main-menu a {
  line-height: 32px;

  display: block;

  padding: 0 1.13em;

  letter-spacing: .2px;
}
.header .main-menu a:hover {
  border-radius: 5px;
  background-color: #633a79;
}
.header .tagline {
  font-size: 42.2px;
  font-weight: bold;
  line-height: 48.8px;

  margin: 125px auto 55px;

  letter-spacing: -.2px;
}
.header .tagline,
.big-button,
.little-title,
.little-subtitle,
.services-col-wrap,
.progress-svggg,
.section-title,
.section-subtitle,
.social-icons,
.little-specialty,
.portfolio-items-menu,
.portfolio .title-desc,
.section-title-desc,
.social {
  text-align: center;
}
.header .main-menu a,
.header .tagline,
.big-button,
.services,
.testimonials,
.get-in-touch,
.social a {
  color: #fff;
}
.big-button {
  font-size: 18px;
  line-height: 26px;

  display: block;

  max-width: 293px;
  margin: 0 auto;
  padding: 20px 0;

  letter-spacing: .27px;

  border-radius: 5px;
}
.header .big-button {
  border-bottom: 4px solid #c86a40;
  background-color: #eb7d4b;
}
.little-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;
}
.little-subtitle {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}
.services {
  background-color: #16c2a3;
}
.services .section-subtitle {
  margin-bottom: 70px;
}
.services-col-img {
  position: relative;

  height: 145px;
}
.services-col-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}
.services .little-title {
  padding-top: 50px;
}
.services .little-subtitle {
  padding: 25px 30px 0;
}
.services,
.team,
.skills,
.portfolio,
.testimonials,
.get-in-touch {
  padding: 90px 0 125px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;

  letter-spacing: 4px;
}
.section-title:after {
  display: block;

  width: 87px;
  height: 4px;
  margin: 20px auto 25px;

  content: '';

  background-color: rgba(0,0,0,.15);
}
.section-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  max-width: 785px;
  margin: 0 auto 70px;

  letter-spacing: .36px;
}
.team {
  background-color: #e7f1f8;
}
.team,
.skills {
  color: #3c4761;
}
.team .little-title {
  padding-top: 35px;
}
.team .little-subtitle {
  padding: 25px 25px;
}
.member-circle-team {
  margin: 0 auto;
  display: block;
}
.social-icons a {
  display: inline-block;
}
.social-icons a[href=''] {
  display: none;
}
.circle {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: #bdd1df;
}
.circle[class*='icon'] {
  margin: 0 5px;

  background-repeat: no-repeat;
      background-position: center;
  background-size: 15px 15px;

  -ms-background-position: center;
}
.icon1 {
  background-image: url(../img/team/facebook-logo.svg);
}
.icon2 {
  background-image: url(../img/team/twitter-logo.svg);
}
.icon3 {
  background-image: url(../img/team/linkedin-logo.svg);
}
.icon4 {
  background-image: url(../img/team/mail_classic.svg);
}
.little-specialty {
  font-size: 16px;
  line-height: 18px;

  padding-top: 15px;

  letter-spacing: .32px;

  color: #30bae7;
}
.skills {
  background-color: #fff;
}
.portfolio {
  color: #393939;
  background-color: #fd9;
}
.portfolio-items-menu {
  margin: 35px 0 60px;
}
.pfi-menu li:last-child {
  margin-right: 0;
}
.pfi-menu li {
  margin-right: 5px;
}
.portfolio-items-menu a:hover {
  background-color: #fff;
}
.portfolio-items-menu a {
  font-size: 18px;
  line-height: 19.5px;

  display: block;

  padding: 8px 25px;

  letter-spacing: .36px;

  color: #393939;
  border-radius: 5px;
  background-color: #ebc985;
}
.section-title-image img {
  display: block;

  width: 100%;
  height: 100%;
}
.section-title-desc {
  font-size: 18px;
  line-height: 20px;

  margin: 30px 0 65px;
}
.portfolio .title-desc {
  font-size: 18px;
  line-height: 19.5px;

  margin: 25px 0 65px;

  letter-spacing: .36px;
}
.portfolio .big-button {
  margin-top: 10px;

  border-bottom: 4px solid #14a58c;
  background-color: #17c2a4;
}
.testimonials {
  background-color: #d74580;
}
.testimonials-user {
  margin: 70px 0 30px;
}
.member-circle-testimonials {
  display: inline-block;

  vertical-align: top;

  border-radius: 50%;
}
.testimonials-text-wrap {
  display: inline-block;

  max-width: 344px;
  margin-left: 50px;
}
.testimonials-comment {
  font-size: 21px;
  font-style: italic;
  line-height: 31px;

  margin-bottom: 25px;
}
.testimonials-name {
  font-size: 24px;
  line-height: 26px;
}
.testimonials-specialty {
  font-size: 18px;
  line-height: 26px;

  color: #fd9;
}
.get-in-touch {
  background-color: #3c5399;
}
.get-in-touch-form {
  max-width: 860px;
  margin: 0 auto;
}

::-moz-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
::-webkit-input-placeholder {
  color: #fff;
}
input,
textarea:focus {
  outline: none;
}
.get-in-touch--username,
.get-in-touch--email {
  font-size: 18px;

  width: 100%;
  max-width: 414px;
  padding: 20px 0 20px 25px;

  border: none;
  border-radius: 5px;
  background: #273a71;
}
.get-in-touch--username {
  margin-right: 28px;
}
.get-in-touch--message {
  font-size: 18px;
  line-height: 18px;

  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 25px 15px;

  border: none;
  border-radius: 5px;
  background: #273a71;
}
.get-in-touch--button {
  width: 290px;
  margin: 55px auto 0;

  border: none;
  border-bottom: 4px solid #289dc5;
  background-color: #2fb9e7;
}
.footer {
  background-color: #334b8e;
}
.social {
  margin: 0 auto;
}
.social a:hover {
  color: #30bae7;
}
.social a {
  font-size: 24px;
  line-height: 30px;

  display: block;

  margin: 35px 29px;

  text-transform: none;
}

@media (max-width: 992px) {
  .team .little-subtitle {
    padding: 25px 0;
  }
}