

body {
  font-family: 'Titillium Web', sans-serif;

  position: relative;

  min-width: 360px;
}
a {
  text-decoration: none;
}

ul > li {
  font-size: 16px;

  display: inline-block;

  list-style: none;

  text-transform: uppercase;
}



.header {
  padding: 60px 0 145px;

  background-color: #864f9c;
}
.header .logo {
  display: inline-block;

  margin: 0 0 0 25px;
}
.header .main-menu {
  float: right;
}
.header .main-menu ul {
  margin: 0;
  padding: 0 10px 0 0;
}
.header .main-menu a {
  line-height: 32px;

  display: block;

  padding: 0 1.13em;

  letter-spacing: .2px;
}
.header .main-menu ul li a:hover {
  border-radius: 5px;
  background-color: #633a79;
}
.header .tagline {
  font-size: 42.2px;
  font-weight: bold;
  line-height: 48.8px;

  margin: 125px auto 55px;

  text-align: center;
  letter-spacing: -.2px;

  
}
.header .main-menu a,
.header .tagline,
.big-button,
.services,  
.social a {
  color: #fff;
}
.big-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  display: block;

  max-width: 293px;
  margin: 0 auto;
  padding: 20px 0;

  text-align: center;
  letter-spacing: .27px;
  text-transform: uppercase;
  
  border-radius: 5px;
}
.header .big-button {
  border-bottom: 4px solid #c86a40;
  background-color: #eb7d4b;
}
.little-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;
}
.little-subtitle {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;

  text-align: center;
}
.services {
  background-color: #16c2a3;
}
.services .section-subtitle {
  margin-bottom: 70px;;
}
.services-col-wrap {
  text-align: center;
}
.services-col-img {
  position: relative;
  height: 145px;
}
.services-col-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.services .little-title {
  padding-top: 50px;
}
.services .little-subtitle {
  padding: 25px 30px 0;
}
.services,
.team {
  padding: 115px 0 120px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;

  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-title:after {
  display: block;

  width: 87px;
  height: 4px;
  margin: 20px auto 25px;

  content: '';

  background-color: rgba(0,0,0,.15);
}
.section-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  max-width: 780px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: .36px;
}
.team {
  background-color: #e7f1f8;
}
.team .little-title {
  padding-top: 35px;
}
.team .little-subtitle {
  padding: 25px 25px;
}
.image-member {
  overflow: hidden;

  width: 200px;
  height: 200px;
  margin: 75px auto 0;

  border-radius: 50%;
  background-color: #878787;
}
.social-icons {
  text-align: center;
}
.social-icons a {
  display: inline-block;
}
.social-icons a[href=''] {
  display: none;
}
.circle {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: #bdd1df;
}
.circle[class*='icon'] {
  margin: 0 5px;

  background-repeat: no-repeat;
      background-position-x: center;
  -ms-background-position-x: center;
      background-position-y: center;
  -ms-background-position-y: center;
  -webkit-background-size: 15px 15px;
          background-size: 15px 15px;
}
.icon1 {
  background-image: url(../img/team/facebook-logo.svg);
}
.icon2 {
  background-image: url(../img/team/twitter-logo.svg);
}
.icon3 {
  background-image: url(../img/team/linkedin-logo.svg);
}
.icon4 {
  background-image: url(../img/team/mail_classic.svg);
}
.little-specialty {
  font-size: 16px;
  line-height: 18px;

  padding-top: 15px;

  text-align: center;

  color: #30bae7;
}
.skills {
  padding: 115px 0 110px;

  background-color: #fff;
}
.portfolio {
  padding: 120px 0 100px;

  color: #393939;
  background-color: #fd9;
}
.portfolio-items-menu {
  padding: 40px 0 65px;

  text-align: center;
}
.pfi-menu {
  margin: 0;
  padding: 0;
}
.pfi-menu li:last-child {
  padding-right: 0;
}
.pfi-menu li {
  padding-right: 10px;
}
.portfolio-items-menu ul li a:hover {
  background-color: #fff;
}
.portfolio-items-menu ul li a {
  font-size: 18px;
  line-height: 40px;

  display: block;

  height: 40px;
  padding: 0 25px;

  color: #393939;
  border-radius: 5px;
  background-color: #ebc985;
}
.section-title-image img {
  display: block;

  width: 100%;
  height: 100%;
}
.section-title-desc {
  font-size: 18px;
  line-height: 20px;

  margin: 30px 0 65px;

  text-align: center;
  text-transform: uppercase;
}
.portfolio .big-button {
  border-bottom: 4px solid #14a58c;
  background-color: #17c2a4;
}
.testimonials {
  padding: 120px 0 130px;

  background-color: #d74580;
}
.testimonials-user {
  margin: 70px 0 30px;
}
.testimonials-image {
  border-radius: 50%;
}
.testimonials-comment {
  font-size: 21px;
  font-style: italic;
  line-height: 31px;

  padding-bottom: 25px;
}
.testimonials-name {
  font-size: 24px;
  line-height: 26px;

  text-transform: uppercase;
}
.testimonials-specialty {
  font-size: 18px;
  line-height: 26px;

  color: #fd9;
}
.get-in-touch {
  padding: 120px 0 110px;

  background-color: #3c5399;
}
.get-in-touch .section-subtitle {
  padding-bottom: 75px;
}
.get-in-touch .big-button {
  border-bottom: 4px solid #299ec5;
  background-color: #30bae7;
}
.get-in-touch--username,
.get-in-touch--email {
  font-size: 18px;
  line-height: 45px;

  width: 100%;
  height: 55px;
  margin: 5px 0;
  padding: 5px 15px;

  border: none;
  border-radius: 5px;
  background: #273a71;
}
.get-in-touch--message {
  font-size: 18px;
  line-height: 18px;

  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 25px 15px;

  border: none;
  border-radius: 5px;
  background: #273a71;
}
.get-in-touch--button {
  font-size: 18px;
  font-weight: 600;
  line-height: 70px;

  display: block;

  width: 290px;
  height: 70px;
  margin: 55px auto auto;

  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-bottom: 4px solid #289dc5;
  border-radius: 5px;
  background-color: #2fb9e7;
}
.footer {
  background-color: #334b8e;
}
.social {
  max-width: 940px;
  margin: 0 auto;
}
.social a:hover {
  color: #30bae7;
}
.social a {
  font-size: 24px;
  line-height: 30px;

  display: block;

  padding: 30px 45px 20px 0;

  text-align: center;
  text-transform: none;

  
}
